* {
    box-sizing: border-box;
  }
  
  .content {
    width: 80%;
    height: 500px;
    border: 1px solid;
  }
  
  .red {
    width: 100px;
    height: 100px;
    background-color: red;
    transition: all 1s;
  }

  .red:hover {
    border-radius: 50%;
    background-color: blue;
  }
  
  .yellow {
    width: 100px;
    height: 100px;
    background-color: gold;
    border-radius: 0 0 50% 50%;
    animation: rock 5s infinite;
  }

  @keyframes rock {
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-90deg);
    }
  }
  
  .green {
    width: 100px;
    height: 40px;
    background-color: green;
    border: 0;
  }
  .blue {
    width: 100px;
    height: 100px;
    background-color: blue;
    height: 0;
    opacity: 0;
    transition: all 0.5s;
  }

  .show {
    height: 100px;
    opacity: 1;
  }