body{
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

header{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1{
    margin: 0;
    font-size: 2.5em;
}

p,li{
    max-width: 70ch;
}

main{
    padding: 20px;
    max-width: 960px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2{
    color: #4caf50;
    border-bottom: 2px solid #4caf50;
    padding-bottom: 10px;
}

ul, ol{
    margin: 0;
    padding: 0 20px;
}

li{
    margin-bottom: 10px;
}

figure{
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

figcaption{
    margin-top: 5px;
    font-style: italic;
    color: #666;
}

footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}