.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(200, 200, 200, 0.5);
}

.modal-content{
    background-color: white;
    min-width: 400px;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.close-button{
    align-self: flex-end;
    background-color: none;
    border: 0;
    font-size: 2em;
    cursor: pointer;
    &:hover{
        color: #888;
    }
}

.open{
    display: flex;
}